@model biblioteka.Models.ReservationsViewModel

@{
    ViewData["Title"] = "Edit Reservation";
}

<h1>Edit Reservation</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ReservationID" />
    <input type="hidden" asp-for="UserID" />

    <div class="form-group">
        <label asp-for="BookID" class="control-label"></label>
        <select asp-for="BookID" class="form-control" asp-items="ViewBag.Books"></select>
        <span asp-validation-for="BookID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationDate" class="control-label"></label>
        <input asp-for="ReservationDate" class="form-control" type="date" />
        <span asp-validation-for="ReservationDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueDate" class="control-label"></label>
        <input asp-for="DueDate" class="form-control" type="date" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
