@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Witamy w Naszej Bibliotece!</h1>
    <p>Serdecznie zapraszamy do naszej biblioteki online – miejsca, gdzie wiedza i wyobraźnia nie mają granic, a dostęp do literatury jest na wyciągnięcie ręki. Zarejestruj się i zaloguj, aby odkryć nasz bogaty księgozbiór, który obejmuje zarówno klasyczne dzieła literatury, jak i najnowsze publikacje z różnych dziedzin.</p>

    <p>Nasza wirtualna biblioteka oferuje:</p>
    <ul>
        <li><strong>Szeroki wybór książek:</strong> Przeglądaj tysiące tytułów dostępnych w formie e-booków, które możesz wypożyczyć i czytać na swoim urządzeniu.</li>
        <li><strong>Łatwy dostęp:</strong> Wypożyczaj książki bez wychodzenia z domu. Wystarczy kilka kliknięć, aby cieszyć się lekturą.</li>
        <li><strong>Przyjazna nawigacja:</strong> Intuicyjny interfejs sprawia, że znajdziesz potrzebne informacje i książki szybko i łatwo.</li>
    </ul>

    <p>Nasza biblioteka to miejsce, gdzie każdy może znaleźć coś dla siebie – od najmłodszych czytelników po seniorów. Nasi wirtualni bibliotekarze są zawsze gotowi do pomocy i z przyjemnością doradzą w wyborze książek, pomogą w wyszukiwaniu informacji i odpowiedzą na wszelkie pytania.</p>

    <p>Dołącz do nas i odkryj, jak wiele możemy Ci zaoferować. Niezależnie od tego, czy szukasz inspiracji, chcesz pogłębić swoją wiedzę, czy po prostu spędzić miło czas – nasza biblioteka online jest dla Ciebie otwarta 24/7.</p>

    <p>Czekamy na Ciebie z niecierpliwością!</p>
</div>
